<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472975303834-nsspqguu5i3r5rjaijkfplg5c54c0jhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472975303834-nsspqguu5i3r5rjaijkfplg5c54c0jhh</string>
	<key>API_KEY</key>
	<string>AIzaSyBJhdYtc5S1PlT0GsSOTEg4KJeCz3aYP3k</string>
	<key>GCM_SENDER_ID</key>
	<string>472975303834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mangosciences.vbc</string>
	<key>PROJECT_ID</key>
	<string>vbc-test-project</string>
	<key>STORAGE_BUCKET</key>
	<string>vbc-test-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472975303834:ios:a60ee9e2585c2c79486b23</string>
</dict>
</plist>